@media screen and (min-width: 769px){
	body {
		background-color: lightblue;
	}

#main li {
	width: 25%;
	float: left;
}

#aside li {
	width: 100%;
}

#header {
	top: 0;
	left: 0;
	height: 100px;
	width: 100%;
	position: fixed;
	z-index: 1;
}

#menu{
	position: relative;
	width: 80%;
	margin: 0 auto;	
	}

#menu li {
	width: 16.66%;
	float: left;
}
#menu li .sub {
	display: none;
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	transition: display 5s;
}

#menu li .sub li {
	width: 25%;
}

#menu li:hover .sub {
	display: inline-block;
		}



#main {
	width: 70%;
	float: left;
	overflow: hidden;
	margin-top: 100px;
}
#aside {
	width: 30%;
	float:left;
	overflow: hidden;
	margin-top: 100px;
}
#footer {
	height: 1000px;
	clear: both;
}
}