*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
p{
	font-size: 10px;
	text-align: center;	
}

body{
	height: 100vh;
	
}
#header{
	height: 10vh;
	background-color: #ddd;
	font-size: 20px;
	text-align: center;		
	overflow: hidden;
	padding-top: 20px;
}

#header h1{
	width: 60%;
}
#header i{
	width: 20%;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.cb{
	clear: both;
}
.mb5{
	margin-bottom: 5px;
}
.mr5{
	margin-right: 5px;
}
.border{
	border-top: 1px solid #ddd;
}
.icono{
	font-size: 1.6rem;
	line-height: 48px;
}
.iconop{
	font-size: 1rem;
	color: red;
	margin-right: 5px
}
#aside{
	height: 15vh;
	padding-top: 15px;
	
	overflow-x: auto;
}
.bola {
	width: 10vh;
	height: 10vh;
	border-radius: 50%;
	background-color: #fff;
	border: solid 3px #ffa749;
	margin: 0 5px;
	display: inline-block;
}
.bola img{
	width: 100%;
	padding: 5%;
	border-radius: 50%;
}
.slider{
	
	height: 12vh;
	/*width: 178vw;*/
	width: 800px;
	
}
#main{
	
	height: 65vh;
	overflow-y: auto;
	background-color: #fff;
	/*scrollbar-width: none;*/
	
}
.perfil{
	background-color: #fff;
	height: 7vh;
	padding-top: 1.5vh;
	padding-right: 15px;
	overflow: hidden;
	
}
.perfil h3{
	margin-top: 0.7vh;
}
.perfil i{
	font-size: 30px;
	margin-top: -5px;
}
.mini{
	border-radius: 50%;
	width: 4vh;
	height: 4vh;
	margin: 0 15px;       	
}
.foto{
	width: 100%;
	height: 45vh;
	overflow: hidden;
}
.foto img{
	width: 100%;
}

.botones{
	height: 8vh;
	padding-top: 10px;
	padding-left: 15px
	
}
.botones i{
	font-size: 49px;
	margin-right: 15px;
}
.caract{
	background-color: #fff;
	clear: both;
	padding:10px 15px 15px 15px;
}
.caract p{
	padding-top: 2px;
	text-align: left;
	font-size: 12px;	
}

.coment{
	
}
/*#main::-webkit-scrollbar{
	display: none;
}*/
#footer{
	height: 10vh;
	background-color: #DDD;
	
}